/***************************page admin_panel**********************************/ 

#titre_admin{
    font-size: 30px;
    margin-top: 125px;
    text-align: center;
    
  
  }
  
  .message-entry {
    margin-top: 75px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 25px;
    word-wrap: break-word; 
    word-break: break-all;
    box-sizing: border-box; 
  }
  
  .message-entry p {
    margin: 10px 0;
  }
  
  .message-entry strong {
    font-weight: bold;
  }
  
  .message-entry p br {
    line-height: 1.5;
  }


  .about-content1 {

    flex-wrap: wrap;
    margin: 2%;
    margin-left: 39%;
  
    box-shadow: 0 0 30px rgba(255, 250, 250, 0.1);
    padding: 2px;
    background-color: var(--card-bg);
    border-radius: 20px;
    max-width: 20%;
  
  }
  
  
  
  @media (max-width: 768px) {
  
    .nav-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 10px;
    }
    .nav-links a {
        margin: 5px 0;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
  }
  
  